### **Question 1 :**
Write a Python program to find the first 20 non-even prime natural numbers.

Non-even prime natural numbers is nothing but odd prime natural numbers which are greater than 2. The follwing conditions are pre-requisites to become a number non-even prime

**Eligiblity of number to become non-even/odd prime number**
*   Number should meet odd number condition(not divisible by 2)
*   Number should also meet prime number condition(number has factors 1 and itself, eg: 17)

**Eligiblity of number to become even prime number**
*   Number should meet even number condition(should be divisible by 2)
*   Number should not meet prime number condition(number should has more factors than 1 and itself, eg: 6)

In [25]:
#Take n from input user
n = int(input("Enter the value of n to generate  non-even prime numbers:\n"))
print()


#Define two empty lists. One list is to show all non-even prime numbers exist between 1 to n*10(a random infinte number).
#Second list is to show first 20 non-even primes from above
primes_all = []
primes_20 = []

#Generate a loop to print the non-even primes
for x in range(1,n*10):
  #As definition, 2 is an even prime which is not required in this case
  if x>2:
    for y in range(2,x):
      if (x%y) == 0:
        break
    else:
      #add all the required non-even primes to above created list using python built-in function called list.appen()
      primes_all.append(x)

#print all the non-even primes exists
print("The non-even prime numbers from 1 to", n*10, "are:\n")
for j in primes_all:
  print(j, end=" ")

#add first 20 non-even primes from above list to second list created above
for k in range(0,20):
  primes_20.append(primes_all[k])
print()

#print the required output
print()
print("Of which the first 20 non-even primes are:\n")
for m in primes_20:
  print(m, end=" ")

Enter the value of n to generate  non-even prime numbers:
20

The non-even prime numbers from 1 to 200 are:

3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

Of which the first 20 non-even primes are:

3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73

### **Question 2:**
Write a Python program to implement 15 functions of string.

1. **center()** <br>

   The center() method center aligns a string. The alignment is done using a    specified character (whitespace is the default)<br>

   **Syntax** <br>

   str.center(length, fillchar), where : <br>
   length is the length of the string[Required] <br>
   fillchar is the character which specifies the alignment[Optional]

In [27]:
sentence = "algorithm"
print(sentence.center(15,"@"))

@@@algorithm@@@

2. **count()** <br>

   The count() method returns the count or the number of times a particular value appears in a string.<br>

   **Syntax** <br>

   str.count(value, start, end), where : <br>
   value is the substring which is to be searched in the string[Required]<br>

   start is the starting index within the string where the search for the    specified value starts[Optional]<br>

   end is the ending index within the string where the search for the specified value ends[Optional]<br>

In [28]:
sentence = "She sells seashells by the seashore. The shells she sells are purely seashells"
print("Number of times", "'shell'","appeared in above sentence is: ", sentence.count("shells"))

Number of times 'shell' appeared in above sentence is:  3

In [36]:
sentence = "She sells seashells by the seashore. The shells she sells are purely seashells"
print("Number of times", "'shell'","appeared in substring","'", sentence[9:26], "'", "is: ", sentence.count("shells", 9,25))

Number of times 'shell' appeared in substring '  seashells by the ' is:  1

3. **find()** <br>

   The find()method returns the lowest index of a particular substring in a string. If the substring is not found, -1 is returned.<br>

   **Syntax** <br>

   str.find(value, start, end), where : <br>
   value or substring which is to be searched in the string[Required]<br>

   start is the starting index within the string where the search for the specified value starts[Optional]<br>

   end is the ending index within the string where the search for the specified value ends[Optional]br>

In [38]:
sentence = "She sells seashells by the seashore. The shells she sells are purely seashells"
print("The substring ", "'seashells'", "will appear at: ", sentence.find("seashells"))

The substring  'seashells' will appear at:  10

In [39]:
sentence = "She sells seashells by the seashore. The shells she sells are purely seashells"
print(sentence.find("seashells", 12,58))

-1

In [40]:
#The rfind() method is similar to find() except that it returns the highest index value of the substring
sentence = "She sells seashells by the seashore. The shells she sells are purely seashells"
print(sentence.rfind("seashells"))

69

4. **swapcase()** <br>

   The swapcase() method returns a copy of the string with all its uppercase letters converted into lower case and vice versa.<br>

   **Syntax** <br>

   string.swapcase()<br>

In [41]:
sentence = "PYTHON is the hIGH lEvEl pRoGrAmMiNg langUAGE"
print("Before swap case: ")
print(sentence)
print()
print("After swapcase: ")
print(sentence.swapcase())

Before swap case:
PYTHON is the hIGH lEvEl pRoGrAmMiNg langUAGE

After swapcase:
python IS THE High LeVeL PrOgRaMmInG LANGuage

5. **startswith( ) and endswith( )** <br>

   The startswith() method returns True if the string starts with the specified value; otherwise, it returns False.<br>

   The endswith() function, on the other hand, returns True if the string endswith the specified value, else it returns False..<br>

   **Syntax** <br>

   string.startswith(value, start, end) <br>
   string.endsswith(value, start, end) <br>

   value is the string to look for in the string[Required]<br>

   start is the starting index within the string where the search for the specified value starts[Optional]<br>

   end is the ending index within the string where the search for the specified value ends[Optional]br>

In [45]:
sentence = "Binary search is a classic recursice search algorithm"
#startswith
print(sentence.startswith("Binary"))
print(sentence.startswith("search", 7,20))
print()
#endswith
print(sentence.endswith("algorithm"))
print(sentence.endswith("classic"))

True
True

True
False

6. **split()** <br>

   The split() method returns a list of words in a string where default separator is any whitespace.<br>

   **Syntax** <br>

   string.split(sep, maxsplit), where : <br>
   sep: The separator to be used for splitting the string. if nothing is specified, whitespace is the default separator[Optional]<br>

   maxsplit: denotes the number of splits. Default is -1 which means “all occurrences”[Optional]<br>

In [47]:
#without maxsplit
fruits = "apples, mangoes, bananas, grapes"
print(fruits.split())

#with maxsplit
fruits = "apples, mangoes, bananas, grapes"
print(fruits.split(",", maxsplit=2))

['apples,', 'mangoes,', 'bananas,', 'grapes']
['apples', ' mangoes', ' bananas, grapes']

In [48]:
#rsplit(): splits a string from the right.
print(fruits.rsplit(",", maxsplit=1))

['apples, mangoes, bananas', ' grapes']

7. **capitalize(), upper() and title()** <br>

   The capitalize() method capitalizes only the first character of a string..<br>
   **Syntax** <br>
   string.capitalize()<br><br>
   The upper() method capitalizes all the letters of the string.<br>
   **Syntax** <br>
   string.upper() <br><br>
   The title() method capitalizes all the first letters of the given string.<br>
   **Syntax** <br>
   string.title() <br>

In [50]:
#Captalizing all letters of a string:
word = "sans fransisco"
print(word.upper())

#Capitalizing only first letter of the string
word = "russia"
print(word.capitalize())

#Capitalizing all first letters of string
word = "united states"
print(word.title())

SANS FRANSISCO
Russia
United States

8. **ljust( ) and rjust( )** <br>

   The ljust() method returns a left-justified version of the given string using a specified character, whitespace being default. The rjust() method aligns the string to the right.<br>

   **Syntax** <br>

   string.rjust/ljust(length, character), where : <br>
   length: length of the string which is to be returned[Required]<br>

   character: Character used for filling in the missing space where whitespace is default[Optional]<br>

In [52]:
#str.rjust()
sentence = "Python's design"
print(sentence.rjust(25), "philosophy emphasizes code readability with its notable use of significant whitespace.")

#str.ljust()
sentence = "Python's design"
print(sentence.ljust(25), "philosophy emphasizes code readability with its notable use of significant whitespace.")

          Python's design philosophy emphasizes code readability with its notable use of significant whitespace.
Python's design           philosophy emphasizes code readability with its notable use of significant whitespace.

9. **strip()** <br>

   The strip() method returns a copy of the string with the leading and trailing characters removed. Default character to be removed is whitespace.<br>

   **Syntax** <br>

   string.strip(character), where : <br>
   character: set of characters to be removed[Optional]<br>

   **strip() is of two versions, lstrip() and rstrip()** <br>
   rstrip(): strips characters from the right of a string.<br>
   lstrip(): strips characters from the left of a string.

In [57]:
#lstrip()
string = "#.....Section 3.2.1 Issue #42....."
print(string.strip('.#! '))
print()

#rstrip()
string = "#.....Section 3.2.1 Issue #42....."
print(string.rstrip('.#! '))

Section 3.2.1 Issue #42

#.....Section 3.2.1 Issue #42

10. **zfill()** <br>

   The zfill() method adds zeros(0) at the beginning of the string. The length of the returned string depends on the width provided.<br>

   **Syntax** <br>

   string.zfill(width), where : <br>
   width: specifies the length of the returned string. However, no zeros are added if the width parameter is less than the length of the original string.<br>

In [58]:
my_word = "754"
print(my_word.zfill(5))

00754

11. **format()** <br>

   The format() method formats the specified value(s) and insert them inside the string's placeholder.<br>
   The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.<br>

  **Syntax** <br>

   string.format(value1, value2...), where : <br>
   value1, value2: One or more values that should be formatted and inserted in   the string. The values can be A number specifying the position of the element you want to remove.[Required]<br>

  The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.<br>

In [63]:
#String formatting with empty placeholders
text1 = 'My name is {} and I am {}'.format("John", "45")
print(text1)

#String formatting with named indices
text2 = "His name is {name} and he lives in {place}".format(name="John", place="London")
print(text2)

#String formatting with numbered indices
text3 = "He has been living here since {0}. He has {1} sons".format(1994, 2)
print(text3)

My name is John and I am 45
His name is John and he lives in London
He has been living here since 1994. He has 2 sons

12. **replace** <br>

   The replace() method replaces a specified phrase with another specified phrase.<br>

   **Syntax** <br>

   string.replace(oldvalue, newvalue, count), where : <br>
   oldvalue: Required. The string to search for<br>

   newvalue: Required. The string to replace the old value with<br>

   count: Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences<br>

In [70]:
print("Replacing all occurances")
txt = "one one was a race horse, two two was one too."
print("Before replacing: ")
print(txt)
x = txt.replace("one", "three")
print("After replacing: ")
print(x)
print()
print()
print("Replace the two first occurrence of the word one")
txt = "one one was a race horse, two two was one too."
print("Before replacing: ")
print(txt)
x = txt.replace("one", "three", 2)
print("After replacing: ")
print(x)

Replacing all occurances
Before replacing:
one one was a race horse, two two was one too.
After replacing:
three three was a race horse, two two was three too.


Replace the two first occurrence of the word one
Before replacing:
one one was a race horse, two two was one too.
After replacing:
three three was a race horse, two two was one too.

13. **join()** <br>

   The join() method takes all items in an iterable and joins them into one string.<br>

   **Syntax** <br>

   string.join(iterable), where : <br>
   iterable: Required. Any iterable object where all the returned values are strings<br>

In [72]:
list1 = ['1','2','3','4']
s = "-"
s = s.join(list1)
print(s)

1-2-3-4

14. **index()** <br>

   The index() method finds the first occurrence of the specified value.<br>
   The index() method raises an exception if the value is not found. <br>
   The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found.<br>

   **Syntax** <br>

   string.index(value, start, end), where : <br>
   value:  Required. The value to search for<br>

   start:  Optional. Where to start the search. Default is 0<br>

   end: Optional. Where to end the search. Default is to the end of the string <br>

In [79]:
#Getting the first occurance of the letter
txt = "Hello, welcome to my world."
x = txt.index("e")
print("The first occurance of letter ", "'e'","in above text is at position: ", x)

#Printing the occurances between specific start and end positions
txt = "Hello, welcome to my world."
x = txt.index("e", 5, 14)
print("The first occurance of letter ", "'e'","in above text between position 5 and 14 is: ", x)

#The rindex() method finds the last occurrence of the specified value.
txt = "Hello, welcome to my world."
x = txt.rindex("e")
print("The last occurance of letter ", "'e'","in above text is at position: ", x)

The first occurance of letter  'e' in above text is at position:  1
The first occurance of letter  'e' in above text between position 5 and 14 is:  8
The last occurance of letter  'e' in above text is at position:  13

15. **String boolean methods** <br>

    1. isalnum() - Returns True if all characters in the string are alphanumeric
    2. isdecimal() - Returns True if all characters in the string are decimals
    3. isalpha() - Returns True if all characters in the string are in the alphabet
    4. isdigit() - Returns True if all characters in the string are digits
    5. isidentifier() - Returns True if the string is an identifier
    6. islower() - Returns True if all characters in the string are lower case
    7. isnumeric() - Returns True if all characters in the string are numeric
    8. isspace() - Returns True if all characters in the string are whitespaces
    9. isupper() - Returns True if all characters in the string are upper case

In [85]:
#isalnum()
txt = "Company12"
x = txt.isalnum()
print(x)

#isdecimal()
txt = "\u0030" #unicode for 0
x = txt.isdecimal()
print(x)

#isalpha()
txt = "CompanyX"
x = txt.isalpha()
print(x)

#isdigit()
txt = "50800"
x = txt.isdigit()
print(x)

#isidentifier()
txt = "Demo"
x = txt.isidentifier()
print(x)

#islower()
txt = "hello world!"
x = txt.islower()
print(x)

#isnumeric()
txt = "565543"
x = txt.isnumeric()
print(x)

#isspaace()
txt = "   "
x = txt.isspace()
print(x)

#isupper()
txt = "THIS IS NOW!"
x = txt.isupper()
print(x)

True
True
True
True
True
True
True
True
True

### **Question 3:**
Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.

**Palindrome:**
1. A set of characters can form a palindrome if at most one character occurs odd number of times and all characters occur even number of times.
2. For example characters of “geeksogeeks” can be rearranged to form a palindrome “geeksoskeeg”, but characters of “geeksforgeeks” cannot be rearranged to form a palindrome.


**Anagram:**
1. Two words are anagrams of one another if their letters can be rearranged to form the other word.
2. For example, “abcd” and “dabc” are anagram of each other.

In [3]:
while True:
  user_ask = input("What would you like to check\n1. Palindrome\n2. Anagram\n3. Both:\n ")
  user_response = int(user_ask)
  if user_response == 1:
    print()
    print("You have selected option to check if given strings are palindrome to each other or not..\n")
    print()
    str1 = input("Enter first string: ")
    str2 = input("Enter second string: ")
    if str1[:] == str2[::-1]:
      print(str1, "and", str2, "are palindromes to each other\n")
    else:
      print(str1, "and", str2, "are not palindromes to each other\n")

  elif user_response == 2:
    print()
    print("You have selected option to check if given strings are anagram to each other or not..\n")
    print()
    str1 = input("Enter first string: ")
    str2 = input("Enter second string: ")
    if sorted(str1) == sorted(str2):
      print(str1, "and",str2,"are anagram to each other!\n")
    else:
      print(str1, "and",str2,"are not anagram to each other!\n")
  
  elif user_response == 3:
    print()
    print("You have selected option to check if given strings are both anagram and palindrome to each other or not..\n")
    print()
    str1 = input("Enter first string: ")
    str2 = input("Enter second string: ")
    if ((str1[:] == str2[::-1]) and (sorted(str1)==sorted(str2))):
      print(str1,"and",str2,"are both palindrome and anagram to each other\n")
    else:
      print(str1,"and",str2,"are neither  palindrome nor anagram to each other\n")
  else:
    print("Bad Input! Terminating the loop")
    break

What would you like to check
1. Palindrome
2. Anagram
3. Both:
 1

You have selected option to check if given strings are palindrome to each other or not..


Enter first string: sad
Enter second string: das
sad and das are palindromes to each other

What would you like to check
1. Palindrome
2. Anagram
3. Both:
 1

You have selected option to check if given strings are palindrome to each other or not..


Enter first string: mad
Enter second string: dad
mad and dad are not palindromes to each other

What would you like to check
1. Palindrome
2. Anagram
3. Both:
 2

You have selected option to check if given strings are anagram to each other or not..


Enter first string: silent
Enter second string: listen
silent and listen are anagram to each other!

What would you like to check
1. Palindrome
2. Anagram
3. Both:
 2

You have selected option to check if given strings are anagram to each other or not..


Enter first string: sue
Enter second string: kit
sue and kit are not anagram to each other!

What would you like to check
1. Palindrome
2. Anagram
3. Both:
 3

You have selected option to check if given strings are both anagram and palindrome to each other or not..


Enter first string: may
Enter second string: yam
may and yam are both palindrome and anagram to each other

What would you like to check
1. Palindrome
2. Anagram
3. Both:
 3

You have selected option to check if given strings are both anagram and palindrome to each other or not..


Enter first string: sue
Enter second string: due
sue and due are neither  palindrome nor anagram to each other

What would you like to check
1. Palindrome
2. Anagram
3. Both:
 4
Bad Input! Terminating the loop

### **Question 4:**
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer"

In [194]:
#Method 1:
def removeAddChar(user_string):
  characters_to_remove = " !@#-$%&*+."
  for char in characters_to_remove:
    if char in user_string:
      user_string = user_string.lower().replace(char, "")
  print("Refined string after removing additional characters: ", user_string)

user_string = input("Enter the string to refine: ")
removeAddChar(user_string)

Enter the string to refine: Dr. Darshan Ingle @AI-ML Trainer
Refined string after removing additional characters:  drdarshaningleaimltrainer

In [193]:
#Method 2:
def replacerChar(user_string):
  new_string = ""
  for char in user_string:
    if char.isalnum():
      new_string = new_string + char.lower()
  print("Refined string after removing all additional characters: ", new_string)

user_string = input("Enter the string to refine:\n ")
replacerChar(user_string)

Enter the string to refine:
 $sh@anmUKe$sw@ar TATA @ Jk!!
Refined string after removing all additional characters:  shanmukeswartatajk

In [195]:
#Method 3:
def addtnReplace(str1):
  for i in str1:
    if not(i.isalpha()):
      str1 = str1.replace(i, "")
  print("Refined string after removing additional characters: ", str1)

user_string = input("Enter the string to refine:\n ")
replacerChar(user_string)

Enter the string to refine:
 PYthon is$ @an !inTREpreter L-a-nguage@#!
Refined string after removing all additional characters:  pythonisanintrepreterlanguage