### **Perform all the suitable parametric and non-parametric tests which are discussed in yesterday's dinesh sir class and compute the hypothesis statements**

**Import libraries**

In [32]:
import pandas as pd
import numpy as np
from scipy.stats import mannwhitneyu
from scipy.stats import chi2_contingency

**Load the data**

In [33]:
data = pd.read_csv("general_data.csv")
data.head(2)

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4

[2 rows x 24 columns]

**Convert attriton categorical variable to numerical variable**

In [34]:
data['Attrition'] = data['Attrition'].map({"Yes":0, "No":1})
data.head(2)

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          1  ...                       0                    0
1   31          0  ...                       1                    4

[2 rows x 24 columns]

**Performing Mann Whitney U test on distance from who has left(Attriton is 0) and distance from home who stayed(Attrition is 1)**

In [36]:
data2 = data[data['Attrition'] == 0]
data3 = data[data['Attrition'] == 1]
stats, p = mannwhitneyu(data2.DistanceFromHome, data3.DistanceFromHome)
print("Value of P: ", p)
print()
if p < 0.05:
  print("Rejecting Null hypothesis")
else:
  print("Fail to reject null hypothesis!")

Value of P:  0.4629185205822659

Fail to reject null hypothesis!

**Checking for other condition whether age of employee who stayed and age of employee who left will show a significant difference on attrition**

In [37]:
data2 = data[data['Attrition'] == 0]
data3 = data[data['Attrition'] == 1]
stats, p = mannwhitneyu(data2.Age, data3.Age)
print("Value of P: ", p)
print()
if p < 0.05:
  print("Rejecting Null hypothesis")
else:
  print("Fail to reject null hypothesis!")

Value of P:  2.9951588479067175e-30

Rejecting Null hypothesis

**Performing Chi-square test to check if there is significant difference on gender with attrition**

In [49]:
table = pd.crosstab(data['Attrition'], data['Gender'])

In [50]:
print(table)

Gender     Female  Male
Attrition
0             270   441
1            1494  2205

In [57]:
stat, p, dof, expected = chi2_contingency(table)
print("p-value: ", p)

#from chi square tables, the tabulated chi square value for dof = 1 and at p=0.05 is given as 3.84

p_tab = 3.84
if p_tab > p:
  print("Reject Null hypothesis")
else:
  print("Fail to reject null hypothesis")

p-value:  0.24529482862926827
Reject Null hypothesis