**Import libraries**

In [95]:
import pandas as pd
from scipy.stats import pearsonr
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

**Load the dataset**

In [96]:
df = pd.read_csv("general_data.csv")
df.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 29 columns]

**Convert attrition categorical variable to numerical variable using replace function**

In [97]:
df['Attrition'].replace({"Yes":1, "No":0}, inplace=True)
df.head()

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
1   31          1  ...                       1                    4
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4

[5 rows x 29 columns]

**Converting gender categorical variable to number type**

In [98]:
df['Gender'].replace({"Male":1, "Female":0}, inplace=True)
df.head()

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
1   31          1  ...                       1                    4
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4

[5 rows x 29 columns]

**Same is applied for marital status column**

In [99]:
df['MaritalStatus'].replace({"Married":1, "Single":0}, inplace=True)
df.head()

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
1   31          1  ...                       1                    4
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4

[5 rows x 29 columns]

**Removing the common or same data following all the records**

In [100]:
df.drop(['Over18', 'EmployeeCount', 'StandardHours'], axis=1, inplace=True)
df.head()

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
1   31          1  ...                       1                    4
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4

[5 rows x 26 columns]

**checking if null values are existing in dataset**

In [101]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeID                  0
EnvironmentSatisfaction    25
Gender                      0
JobLevel                    0
JobRole                     0
JobInvolvement              0
JobSatisfaction            20
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
PerformanceRating           0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
WorkLifeBalance            38
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

**Filling all the na values using fillna function**

In [106]:
df['EnvironmentSatisfaction'].fillna(np.random.randint(1,5), inplace=True)

In [107]:
df['EnvironmentSatisfaction'].isnull().sum()

0

In [108]:
df['WorkLifeBalance'].fillna(np.random.randint(1,5), inplace=True)

In [109]:
df['WorkLifeBalance'].isnull().sum()

0

In [110]:
df['JobSatisfaction'].fillna(np.random.randint(1,5), inplace=True)

In [111]:
df['JobSatisfaction'].isnull().sum()

0

In [113]:
df['NumCompaniesWorked'].fillna(np.random.randint(0,10), inplace=True)

In [114]:
df['NumCompaniesWorked'].isnull().sum()

0

In [118]:
df['TotalWorkingYears'].fillna(np.random.randint(0,41), inplace=True)

In [119]:
df['TotalWorkingYears'].isnull().sum()

0

**check if all null values are replaced or filled and make sure no na/null values exist in dataset**

In [120]:
df.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeID                 0
EnvironmentSatisfaction    0
Gender                     0
JobLevel                   0
JobRole                    0
JobInvolvement             0
JobSatisfaction            0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
PerformanceRating          0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
WorkLifeBalance            0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

**check the info of data**

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int64
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeID               4410 non-null   int64
 8   EnvironmentSatisfaction  4410 non-null   float64
 9   Gender                   4410 non-null   int64
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  JobInvolvement           4410 non-null   int64
 13  JobSatisfaction          4410 non-null   float64
 14  MaritalStatus            4410 non-null   object
 15  MonthlyIncome            4410 non-null   int64
 16  NumCompaniesWorked       4410 non-null   float64
 17  PercentSalaryHike        4410 non-null   int64
 18  PerformanceRating        4410 non-null   int64
 19  StockOptionLevel         4410 non-null   int64
 20  TotalWorkingYears        4410 non-null   float64
 21  TrainingTimesLastYear    4410 non-null   int64
 22  WorkLifeBalance          4410 non-null   float64
 23  YearsAtCompany           4410 non-null   int64
 24  YearsSinceLastPromotion  4410 non-null   int64
 25  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(5), int64(16), object(5)
memory usage: 895.9+ KB

**Checking the correlation between age and attrition. Here attrition column remains same and other variable changes**

In [122]:
#Correlation check between age and attrition
a,b = pearsonr(df['Age'], df['Attrition'])
print(a,b)

-0.15920500686577949 1.996801615887198e-26

From above it can be said that age and attrition are negatively correlated.

In [123]:
#Correlation check between distance from home and attrition
c, d = pearsonr(df['DistanceFromHome'], df['Attrition'])
print(c, d)

-0.009730141010179692 0.5182860428050771

From above numbers, it can be concluded that distance from home and attrition are negatively correlated.

In [124]:
#Correlation check between education and attrition
stats, p= pearsonr(df['Education'], df['Attrition'])
print(stats, p)

-0.015111167710968721 0.3157293177118575

From above numbers, it can be concluded that education and attrition are also negatively correlated.

In [125]:
#Correlation check between Gender and attrition
corr, _ = pearsonr(df['Gender'], df['Attrition'])
print(corr, _)

0.018125078877010255 0.22881970951795952

From above numbers, it can be concluded that gender and attrition are positvely correlated.

In [126]:
#Correlation check between JobLevel and attrition
corr, _ = pearsonr(df['JobLevel'], df['Attrition'])
print(corr, _)

-0.010289713287494923 0.4945171727183978

From above numbers, it can be concluded that Joblevel and attrition are negatively correlated. And a change in Joblevel will effect attrition by 0.01% approx.

In [127]:
#Correlation check between JobInvolvement and attrition
st, p = pearsonr(df['JobInvolvement'], df['Attrition'])
print(st, p)

-0.015587903215930045 0.3007024144964444

From above numbers, it can be concluded that jobinvolvementlevel and attrition are negatively correlated.

In [128]:
#Correlation check between Monthlysalary and attrition
k,j = pearsonr(df['MonthlyIncome'], df['Attrition'])
print(k,j)

-0.03117628169811501 0.03842748490600132

From above numbers, it can be concluded that monthlysalary and attrition are negatively correlated. And a change in monthly salary will effect attrition by 0.09% approx.

In [129]:
#Correlation check between Yearswithcurrent manager and attrition
s, p = pearsonr(df['YearsWithCurrManager'], df['Attrition'])
print(s, p)

-0.15619931590162806 1.7339322652900218e-25

From above numbers, it can be concluded that Yearswith curent manager and attrition are negatively correlated.

In [130]:
#Correlation check between Years at company and attrition
r, e = pearsonr(df['YearsAtCompany'], df['Attrition'])
print(r,e)

-0.13439221398997717 3.1638831224877484e-19

From above numbers, it can be concluded that years at company and attrition are negatively correlated. And a change in years at company will effect attrition by 2.69% approx.

In [131]:
#Correlation check between Worklifebalance and attrition
d, f = pearsonr(df['WorkLifeBalance'], df['Attrition'])
print(d, f)

-0.06297475503300919 2.8518435493238897e-05

From above numbers, it can be concluded that worklife balance and attrition are negatively correlated. And a change in worklife balance will effect attrition by 0.0025% approx.