### **Question 1:** <br>
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only. <br>

Input Format: <br>
The first line of the input contains an email address.<br>
Output Format:<br>
Print the company name in single line.<br>
<br>
Example: <br>
Input: <br>
john@google.com <br>
Output: <br>
google <br>

**Before starting the problem, we have given a condition that both username and company names should be in alphabets. So we first ensure the validity condition of input given by user must be in username@companyname.com format. So we write the code in such a way that the companyname will be printed out as an output only when the input given by user is in above format(username@companyname.com)**

In [1]:
while True:
  email_input = input("Enter the email address:\n")
  if not ('@' in email_input and '.' in email_input):
    print("Invalid input given! Must be in 'username@companyname.com' format")
    print()
  elif not (email_input.split('@')[0].isalpha() and email_input.split('@')[1].split('.')[0].isalpha()):
    print("Username and companyname should have only alphabets. 'username@companyname.com' is valid")
    print()
  else:
    domain = email_input.split('@')[1].split('.')[0]
    print("Company name is: ", domain)
    break

Enter the email address:
user@com
Invalid input given! Must be in 'username@companyname.com' format

Enter the email address:
user.com
Invalid input given! Must be in 'username@companyname.com' format

Enter the email address:
john97@google.com
Username and companyname should have only alphabets. 'username@companyname.com' is valid

Enter the email address:
john_george@yahoo.com
Username and companyname should have only alphabets. 'username@companyname.com' is valid

Enter the email address:
holmark@hotmail.com
Company name is:  hotmail

### **Question 2:** <br>

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.<br>

Input Format:<br>
The first line of input contains words separated by the comma.<br>
Output Format:<br>
Print the sorted words separated by the comma.<br>
Example:<br>
Input:<br>
without,hello,bag,world<br>
Output:<br>
bag,hello,without,world<br>

In [2]:
while True:
  items_list = input("Enter the comma-seperated words list:\n")
  if not (',' in items_list):
    print("Invalid input! words should be given with comma-seperated")
    print()
  else:
    words = []
    for word in items_list.split(','):
      words.append(word)
    print("Words after sorting alphabetically:")
    print(",".join(sorted(list(set(words)))))
    print()
    break

Enter the comma-seperated words list:
white horse jack king
Invalid input! words should be given with comma-seperated

Enter the comma-seperated words list:
mango,hello,world,bag
Words after sorting alphabetically:
bag,hello,mango,world

### **Question 3:** <br>
Create your own Jupyter Notebook for Sets. <br>
Reference link: https://www.w3schools.com/python/python_sets.asp <br>

**Definition:** <br>
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

**Access Items** <br>
You cannot access items in a set by referring to an index, since sets are unordered the items has no index. <br>

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword. <br>

In [4]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

**Add Items** <br>
To add one item to a set use the add() method. <br>

To add more than one item to a set use the update() method.<br>

In [5]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [6]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'apple', 'orange', 'cherry', 'banana', 'mango'}

**Get the Length of a Set** <br>
To determine how many items a set has, use the len() method.

In [7]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

**Remove Item** <br>
To remove an item in a set, use the remove(), or the discard() method.

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

**Note:** <br>
If the item to remove does not exist, remove() will raise an error.<br>
If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.<br>

The return value of the pop() method is the removed item.<br>

**Note:**
Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [18]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

The del keyword will delete the set completely:

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

**Join Two Sets**<br>
There are several ways to join two or more sets in Python.<br>

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:<br>

In [17]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

The update() method inserts the items in set2 into set1:

In [16]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

` **Both union() and update() will exclude any duplicate items.**

**copy()** <br>
The copy() method copies the set.

In [15]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

**Python Set difference() Method** <br>
Return a set that contains the items that only exist in set x, and not in set y:

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

**Python Set intersection() Method** <br>
Return a set that contains the items that exist in both set x, and set y:

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

**Python Set difference_update() Method**<br>
Remove the items that exist in both sets:

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

**Python Set symmetric_difference() Method** <br>
Return a set that contains all items from both sets, except items that are present in both sets:

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}


z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'cherry', 'google'}

**Python Set issubset() Method** <br>
Return True if all items set x are present in set y:

In [11]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

**Python Set issuperset() Method** <br>
Return True if all items set y are present in set x:

In [10]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

### **Question 4:** <br>
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. <br>

Input Format: <br>
The first line contains n-1 numbers with each number separated by a space.<br>
Output Format: <br>
Print the missing number <br>
Example:<br>
Input:1 2 4 6 3 7 8<br>
Output:5<br><br>
Explanation:<br>
In the above list of numbers 5 is missing and hence 5 is the input

In [20]:
while True:
  _user = input("Enter the number series to find missing number:\n")
  _n = _user.split(" ")
  _nints = list(map(lambda x: int(x), _n))
  missed_num = []
  setNums = set(_nints)

  if len(_nints) != len(setNums):
    print("Given sequence has duplicates!")
    print()
  elif sorted(_nints) == sorted(list(range(_nints[0], _nints[-1]+1))):
    print("Sequence given has no missing number!")
    print()
  else:
    for x in range(_nints[0], _nints[-1]+1):
      if x not in _nints:
        missed_num.append(x)
    missed_num = list(map(lambda x: str(x), missed_num))
    print("Missing number in above sequence:")
    print(" ".join(missed_num))
    break

Enter the number series to find missing number:
1 2 4 5 3 6
Sequence given has no missing number!

Enter the number series to find missing number:
1 2 2 3 5 6 4
Given sequence has duplicates!

Enter the number series to find missing number:
1 2 4 5 6
Missing number in above sequence:
3

### **Question 5** <br>

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved. <br><br>
Example:<br>
If the input list is<br>
12 24 35 24 88 120 155 88 120 155<br>
Then the output should be<br>
12 24 35 88 120 155<br><br>
Explanation:<br>
Third, seventh and ninth element of the list L has been removed because it was already present.<br><br>
Input Format:<br>
In one line take the elements of the list L with each element separated by a space.<br>
Output Format:<br>
Print the elements of the modified list in one line with each element separated by a space.<br><br>
Example:<br>
Input: 12 24 35 24<br>
Output:<br>
12 24 35<br>

In [23]:
while True:
  _user = input("Enter the number series to remove duplicates:\n")
  _n = _user.split(" ")
  _nints = list(map(lambda x: int(x), _n))
  _norig = []

  if len((_nints)) != len((set(_nints))):
    for x in _nints:
      if x not in _norig:
        _norig.append(x)
    print("Numbers after removing the duplicates:")
    required = list(map(lambda x: str(x), _norig))
    print(" ".join(required))
    print()
  else:
    print("Given sequence has no duplicates to remove!")
    break

Enter the number series to remove duplicates:
12 24 35 24 88 120 155 88 120 155
Numbers after removing the duplicates:
12 24 35 88 120 155

Enter the number series to remove duplicates:
12 24 35 24
Numbers after removing the duplicates:
12 24 35

Enter the number series to remove duplicates:
15 35 40 25 36 74 52
Given sequence has no duplicates to remove!